body{
    background-color: #161515;
    text-align: center;
}
h1{
    margin-top: 1%;
	color:white;
    text-decoration: underline;
	
}
main {
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    padding: 10%;

}


.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1%;
    background-color: #333;
}

button{
    font-family:'Times New Roman', Times, serif;
    border: 1px solid gray;
    transition: border-color 0.3s;
}

button:hover{
    border-color: crimson;
}

input{
    height: 50%;
}

