body{
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    padding: 10%;

}


.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1%;
}

button{
    font-family:'Times New Roman', Times, serif;
    border: 1px solid gray;
    transition: border-color 0.3s;
}

button:hover{
    border-color: crimson;
}

input{
    height: 50%;
}