body{
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    padding: 10%;

}


.keys{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10%;
}

